@import "../components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "mixins/opacity.scss";
@import "mixins/breakpoint.scss";

// @import "animate.min.css";

@import url(http://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500);
@include font-face('Datoscopio', '../fonts/datoscopio', $file-formats: eot svg woff ttf);

/* ########
   Fuentes
   ######## */

$fontset-roboto-medium: "Roboto Mono", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$fontset-roboto-light: "Roboto Mono", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-sans-serif: $fontset-roboto-medium;

/* ########
   Colores
   ######## */


$dark-grey:                   #7D7D82;


/* ################
   Bootstrap Resets
   ################ */

$navbar-default-bg:           transparent;
$navbar-default-border:       none;
$tooltip-max-width:           520px !default;

// Import custom bootstrap components

// Core variables and mixins
@import "../components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "../components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
// @import "../components/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "../components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../components/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../components/bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "../components/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "../components/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "../components/bootstrap-sass/assets/stylesheets/bootstrap/buttons";

// Components
@import "../components/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
// @import "../components/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "../components/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "../components/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "../components/bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "../components/bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "../components/bootstrap-sass/assets/stylesheets/bootstrap/badges";
@import "../components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
// @import "../components/bootstrap-sass/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "../components/bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
@import "../components/bootstrap-sass/assets/stylesheets/bootstrap/popovers";

// Utility classes
@import "../components/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "../components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

[class^="icon-"]:before, [class*=" icon-"]:before {
font-family: "datoscopio";
font-style: normal;
font-weight: normal;
speak: none;

display: inline-block;
text-decoration: inherit;
width: 1em;
margin-right: .2em;
text-align: center;
/* opacity: .8; */

/* For safety - reset parent styles, that can break glyph codes*/
font-variant: normal;
text-transform: none;

/* fix buttons height, for twitter bootstrap */
line-height: 1em;

/* Animation center compensation - margins should be symmetric */
/* remove if not needed */
margin-left: .2em;

/* you can be more comfortable with increased icons size */
/* font-size: 120%; */

/* Font smoothing. That was taken from TWBS */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

*,
*:after,
*::before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  margin: 0;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
 }

html,
body,
#landing,
#explicacion,
.st-container,
.st-pusher,
.st-content {
  height: 100%;
}

body {
  line-height: 1.42857;
  background-color: transparent !important;
  color: grey;
  // @include breakpoint(xs) {
  //   border-top: 5px solid #F17E2A;
  // }
  // @include breakpoint(sm) {
  //   border-top: 5px solid #CC4A59;
  // }
  // @include breakpoint(md) {
  //   border-top: 5px solid #772626;
  // }
  // @include breakpoint(lg) {
  //   border-top: 5px solid #30013F;
  // }
  // @media (max-height:700px) {
  //   border-top: 5px solid red;
  // }

}

#landing {
  width: 100%;
  display: table;
  z-index: 10;
  background-color: $dark-grey;
  // @include linear-gradient(50deg, #0b24fb 0%, #6d7cfd 100%);
  .content {
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    h1 {
      font-size: 2.3em;
      line-height: 2em;
      color: white;
      text-transform: uppercase;
    }
    .icon-datoscopio {
      font-size: 5em;
      display: block;
    }
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      display: inline-block;
      a {
        font-size: 1.5em;
        &:hover, &:focus, &:active {
          text-decoration: none;
          color: lighten($dark-grey, 20);    
        }
      }
      
    }

    .flecha {
      a {
        color: white;
        position: relative;
        z-index: 10;
      }
      .icon-arrow {
        font-size: 2em;
        position: relative;
        z-index: 10;
        // border: 1px solid rgba(white,0.5);
      }
    }
  }
}

#explicacion {
  width: 100%;
  display: table;
  background-color: white;
  .content {
    position: relative;
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    .titulo {
      margin: 0 auto;
      width: 500px;
      color: #333333;
      position: relative;
      z-index: 10;
    }
    .contenido {
      padding-top: 50px;
      margin: 0 auto;
      width: 500px;
      color: #333333;
      font-size: 1.4em;
      font-weight: 400;
      position: relative;
      z-index: 10;
    }
    .flecha {
      a {
        color: #333333;
        position: relative;
        z-index: 10;
      }
      .icon-arrow {
        font-size: 2em;
        position: relative;
        z-index: 10;
      }
    }
  }
}

.mapaConurbanoLinea {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  svg {
    .distrito {
      stroke: #CCCCCC;
      stroke-width: 1;
      fill: none;
      pointer-events: none;
    }
  }
}

h4 {
  padding-top: 50px;
  color: rgba(white,.5);
  font-size: 1.1em;
  font-weight: 400;
  pointer-events: all;
}
.icon-arrow {
  width: 62px;
  padding: 20px 0;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
  font-size: 1.2em;
  display: block;
  @include border-top-radius(85px);
  @include border-right-radius(85px);
  @include border-bottom-radius(85px);
  @include border-left-radius(85px);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.1); 
  h1 {
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    padding: 0;
    margin: 10px 0 10px 50px;
    float: left;
  }
  h2 {
    float: right;
    font-size: 1.2em;
    font-weight: 300;
    word-spacing: -0.15em;
    padding: 0;
    margin: 10px 10px 0 50px;
  }
}



// #home {
//   background: url();
//   background-color: #222;
//   background-attachment: fixed;
//   background-repeat: no-repeat;
//   background-position: 50% 50%;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   padding: 0;
// }

.icon-twitter:before {
  content: '\e800';
}
.icon-facebook-official:before {
  content: '\e801';
}
.icon-instagram:before {
  content: '\e802';
}
.icon-mail-alt:before {
  content: '\e803';
}
.icon-datoscopio:before {
  content: '\e804';
}
.icon-arrow:before {
  content: '\e805';
}

.intro {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  text-align: left;
  @include transform(translate(0%, -50%));
  padding: 0 50px 0 25px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}


.headline {
  font-family: $fontset-roboto-light;
  font-size: 1.2em;
  font-style: normal;
  text-transform: none;
  margin: 0 45% 0 0;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  @include transition(all 0.4s ease-in-out);
  @include breakpoint(xs) {
     margin: 0 15% 0 0;
  }
}


.header {
  position: relative;
  width: 100%;
  z-index: 998;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */

.section {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
}

.section-inner {
  display: table-cell;
  vertical-align: middle;
}


.section-image {

}

.section-header {
  text-align: center;
  margin: 0 0 60px;
  h2 {
    font-size: 2em;
  }
}

.section-header-left {
  text-align: left;
  .section-line {
    width: inherit;
    margin: 30px 0;
  }
}

.section-title {
}

.section-subtitle {
}



/*
 * Globals
 */

/* Links */

a {
  color: #fff;
  &:focus, &:hover {
    color: #fff;
  }
}

/* Custom default button */

// .btn-default {
//   // color: #333;
//   text-shadow: none;
//   /* Prevent inheritence from `body` */
//   background-color: #fff;
//   border: 1px solid #fff;
//   &:hover, &:focus {
//     color: #333;
//     text-shadow: none;
//     /* Prevent inheritence from `body` */
//     background-color: #fff;
//     border: 1px solid #fff;
//   }
// }

.background {
  fill: none;
  pointer-events: all;
}

#menu {
  display: block;
  position: absolute;
  left: 70px;
  top: 320px;
  @include opacity(1);
  transition: opacity 1s;
  label {
    cursor: pointer;
    text-transform: uppercase;
  }
}

.caption {
  position: absolute;
  top: 100px;
  left: 0px;
  pointer-events: none;
  color: #000;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, .9);
  @include opacity(1);
  transition: opacity 1s;
  h1 {
    display: block;
    width: auto;
    font-size: 1.4em;
    line-height: 1em;
    
    margin: 0 0 0 50px;
    text-transform: uppercase;
  }
  h3 {
    display: block;
    width: 450px;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em;
    margin: 25px 0 0 50px;
  }
  span {
    font-size: .8em;
    line-height: 5em;
    color: rgba(black,.6);
    margin: 25px 0 0 50px;
  }
}

.ficha {
  word-spacing: -3px;
  .nota {
    font-size: .8em;
    padding-top: 50px;
  }
}


.distrito {
  cursor: pointer;
}

.distrito {
  .active {
    font-weight: 500; 
  }
}

.distrito {
    stroke: transparent;
    stroke-width: 0;
    transition: stroke .2s linear, opacity .2s linear;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
}

.distrito:hover {
    stroke: rgba(255,255,255,.8);
    stroke-width: 2;
    cursor: pointer;
}

.bordes {
  pointer-events: none;
  fill: none;
  stroke-width: 1;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
}

.place,
.place-label {
  pointer-events: none;
  text-anchor: middle;
  font-size: 0.8em;
  text-rendering: optimizeSpeed;
  letter-spacing: -4;
}


.label {
  font-size: 0.8em;
}

.hidden { 
  display: none; 
}
.tooltip {
  color: #222; 
  background: #fff; 
  padding: 15px; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
  span {
    display: block;
    margin: 0;
  }
}

.st-content {
  overflow-y: scroll;
  position: relative;
}

.st-content-inner {
  position: relative;
}

.st-container {
  position: relative;
  overflow: hidden;
}

.st-pusher {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  perspective: 1000px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  }
}

.st-menu-open .st-pusher::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.st-menu {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  width: 400px;
  height: 100%;
  background: $dark-grey;
  padding: 0 20px 15px 25px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
}

.st-menu-open .st-menu::after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */

.st-menu {
  font-size: 0.95em;
  line-height: 1.5em;
  h1 {
    font-family: $fontset-roboto-light;
    font-size: 1.2em !important;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1em; 
    @include breakpoint(xs) {
      font-size: 1.9em;
      letter-spacing: -1px;
      padding-bottom: 10px;
    }
    @include breakpoint(sm) {
      font-size: 1.5em;
    }
    @include breakpoint(md) {
      font-size: 2em;
    }
    @include breakpoint(lg) {
      font-size: 3em;
    }
  }

  h2 {
    font-family: $fontset-roboto-light;
    font-size: 4.25em;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 20px;

  }

  h4 {
  padding-top: 10px;
  color: rgba(white,.5);
  font-size: 1.1em;
  line-height: 1em;
  font-weight: 400;
  pointer-events: all;
  }
  // h1 {

  // }
  // h2 {
  //   margin: 0;
  //   padding: 1em;
  //   color: rgba(0, 0, 0, 0.4);
  //   text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  //   font-weight: 300;
  //   font-size: 2em;
  // }
  ul li {
    a {
      display: block;
      padding: 1em 1em 1em 1.2em;
      outline: none;
      box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
      color: #f3efe0;
      text-transform: uppercase;
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
      letter-spacing: 1px;
      font-weight: 400;
      -webkit-transition: background 0.3s, box-shadow 0.3s;
      transition: background 0.3s, box-shadow 0.3s;
    }
    &:first-child a {
      box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
    }
    a:hover {
      background: rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
      color: #fff;
    }
  }
}

/* Individual effects */

/* Effect 3: Push*/

.ficha {
  &.st-menu-open .st-pusher {
    -webkit-transform: translate3d(400px, 0, 0);
    transform: translate3d(400px, 0, 0);
    .caption {
      @include opacity(0);
    }
    #menu {
      @include opacity(0);
    }
  }
  &.st-menu {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  &.st-menu-open .ficha.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }
  &.st-menu::after {
    display: none;
  }
  .ficha-intendente, .ficha-distrito, .ficha-frente_2011, .ficha-tiempo, .ficha-mandatos, .ficha-antes, .ficha-compite, .ficha-pt2011, .ficha-frente_alianza_2015, .ficha-ptp2015 {
    display: block;
  }
  .ficha-intendente {
    margin-top: 25px;
  }
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */

.no-csstransforms3d .st-pusher, .no-js .st-pusher {
  padding-left: 300px;
}